.image {
    width: 100%;
}

.content {
    margin: -300px 0px 300px 75px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
}

.title {
    font-size: 72px;
}

.sub-title {
    font-size: 25px;
}